/**
*
* {{ properCase name }}
*
*/

{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
{{#if wantStyles}}
import PropTypes from 'prop-types';
{{else}}
// import PropTypes from 'prop-types';
{{/if}}
{{#if wantStyles}}
import { withStyles } from '@material-ui/core/styles';
{{/if}}

{{#if wantStyles}}
import styles from './styles';
{{/if}}

function {{ properCase name }}({{#if wantStyles}}{ classes }{{/if}}) {
return (
<div{{#if wantStyles}} className={ classes.root }{{/if}}>
  </div>
  );
  }

  {{ properCase name }}.propTypes = {
  {{#if wantStyles}}
  classes: PropTypes.object.isRequired,
  {{/if}}
  };

  export default {{#if memo}}memo{{/if}}({{#if wantStyles }}withStyles(styles){{/if}}({{ properCase name }}));