/**
*
* {{properCase name }}
*
*/

{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
{{#if wantStyles}}
import PropTypes from 'prop-types';
import theme from 'utils/theme';
{{else}}
// import PropTypes from 'prop-types';
{{/if}}
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}
{{!-- {{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}} --}}
import { compose } from 'redux';
{{#if wantStyles}}
import { withStyles, ThemeProvider } from '@material-ui/core/styles';
import styles from './styles';
{{else}}
import { ThemeProvider } from '@material-ui/core/styles';
{{/if}}
{{!-- {{#if wantMessages}}
import messages from './messages';
{{/if}} --}}

class {{ properCase name }} extends React.Component {
render() {
{{#if wantStyles}}const { classes } = this.props;{{/if}}
return (
<ThemeProvider theme={theme}>
<div{{#if wantStyles}} className={ classes.root }{{/if}}>
  {{#if wantHeaders}}
  <Helmet>
    <title>{{properCase name}}</title>
    <meta name="description" content="Description of {{properCase name}}" />
  </Helmet>
  {{/if}}
  {{!-- {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}} --}}
  </div>
  </ThemeProvider>
  );
}
}

{{ properCase name }}.propTypes = {
  {{#if wantStyles}}
  classes: PropTypes.object.isRequired,
  {{/if}}
};

export default compose(
{{#if wantStyles}}
  withStyles(styles),
{{/if}}
{{#if memo}}
  memo,
{{/if}}
)({{ properCase name }});
