<h1>Edit Case Note</h1>
<%= form_with(model: @case_note, url: api_case_note_path, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    Participant: <br>
	  <%= form.collection_select :participant_id, @participants, :id, :first_name, prompt: true %>
  </p>
  <p>
    <%= form.label :visible %><br>
    <%= form.check_box :visible %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', case_notes_path %>