<%= link_to 'Edit', edit_case_note_path(@case_note) %>
<%= link_to 'Delete', api_case_note_path(@case_note),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
<p>
  <strong>Title:</strong>
  <%= @case_note.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @case_note.description %>
</p>
<p>
  <strong>Participant:</strong>
  <%= @case_note.participant.first_name %>
</p>
<p>
  <strong>Internal:</strong>
  <%= @case_note.internal %>
</p>
<p>
  <%= link_to 'Back', case_notes_path%>