<h1>Editing Assignment</h1>

<%= form_with(model: @assignment, url: api_assignment_path, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :cond_assignment_title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :cond_assignment_description %>
  </p>
  <p>
    Assigned to: <br>
	  <%= form.collection_select :participant_id, @all_users, :id, :first_name, prompt: true %>
  </p>
   <p>
    Assigned by: <br>
	  <%= form.collection_select :staff_id, @staffs, :id, :first_name, prompt: true %>
  </p>
  <p>
    <%= form.label :completed %><br>
    <%= form.check_box :completed %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Show', @assignment %> |
<%= link_to 'Back', assignments_path %>
