<h1>Edit Questionnaire</h1>
<%= form_with(model: @questionnaire, url: api_professional_questionnaire_path, local: true) do |form| %>
  Medical:<br>
  <%= form.text_field :medical %> <br>
  Contact Info: <br>
  <%= form.text_field :contact_info %> <br>
  Emergency Contact: <br>
  <%= form.text_field :emergency_contact %> <br>  
  <br>
  <%= form.submit "Submit" %>
<% end %>
<%= link_to 'Back', professional_questionnaires_path %>