<h1><%= @participant.full_name %></h1>
<%= react_component('ParticipantShowPage', { personal_questionnaire: @personal_questionnaire, professional_questionnaire: @professional_questionnaire, participant_id: @participant_id }) %>
<%= react_component("", {questionnaireType: "Personal", questionnaire: @personal_questionnaire, participant_id: @participant.id}) %>
<%= react_component("", {questionnaireType: "Professional", questionnaire: @professional_questionnaire, participant_id: @participant.id}) %>
<div class="participant-show">
  <%= react_component("PaperworkPage", {paperworks: @paperworks.all, participant_id: @participant.id}) %>
  <%= react_component('CaseNoteContainer', {case_notes: @case_notes, participant: @participant}) %>
</div>
  
<br>
<%= link_to 'Back', root_path %>
