<h1><%= @participant.full_name %></h1>
<%= react_component("PaperworkPage", {paperworks: @paperworks.all,
                                      participant_id: @participant.id}) %>

<h2>Case Notes</h2>
<table>
  <% @case_notes.each do |case_note| %>
    <tr>
      <td><%= link_to case_note.title, case_note_path(case_note) %>
    </tr>
  <% end %>
</table>
<%= react_component('NewCaseNote', {participant_id: @participant.id}) %>
<br>
<%= link_to 'Back', root_path %>
