<h1>All Personal Questionnaires</h1>
<table>
  <tr>
    <th>Medical</th>
    <th>Contact info</th>
    <th>Emergency Contact</th>
    <th>Participant</th>
    <th colspan="3"></th>
  </tr>
  
  <% @questionnaires.each do |q| %>
    <tr>
      <td><%= q.medical %></td>
      <td><%= q.contact_info %></td>
      <td><%= q.emergency_contact %></td>
      <td><%= q.participant.first_name %></td>
      <td><%= link_to 'Show', personal_questionnaire_path(q) %></td>
      <td><%= link_to 'Edit', edit_personal_questionnaire_path(q) %></td>
      <td><%= link_to 'Delete', api_personal_questionnaire_path(q),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<% if @user.present? && @user.staff? %>
  <%= react_component("QuestionnaireForm", {questionnaireType: "Personal", fields: @questionnaireFields, participant_id: 1}) %>
<% end %>
