<h1>New Personal Questionnaire</h1>
<%= form_with scope: :personal_questionnaire, url: api_personal_questionnaires_path, local: true do |form| %>
  Medical:<br>
  <%= form.text_field :medical %> <br>
  Contact Info: <br>
  <%= form.text_field :contact_info %> <br>
  Emergency Contact: <br>
  <%= form.text_field :emergency_contact %> <br>  
  Participant: <br>
  <%= form.collection_select :participant_id, @participants, :id, :name, prompt: true %>
  <br>
  <%= form.submit "Submit" %>
<% end %>