<h1>All Casenotes</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Participant First</th>
    <th>Participant Last</th>
    <th>Internal</th>
    <th colspan="3"></th>
  </tr>
  
  <% @casenotes.each do |casenote| %>
    <tr>
      <td><%= casenote.title %></td>
      <td><%= casenote.description %></td>
      <td><%= casenote.participant.first_name %></td>
      <td><%= casenote.participant.last_name %></td>
      <td><%= casenote.internal %></td>
      <td><%= link_to 'Show', casenote_path(casenote) %></td>
      <td><%= link_to 'Edit', edit_casenote_path(casenote) %></td>
      <td><%= link_to 'Delete', api_casenote_path(casenote),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= react_component('NewCasenote', :description)  %>