<h1>New Casenotes</h1>
<%= form_with scope: :casenote, url: casenotes_path, local: true do |form| %>
    Title:<br>
    <%= form.text_field :title %> <br>
    Description: <br>
    <%= react_component('NewCasenote', :description)  %>
    Internal: <br>
    <%= form.check_box :agree %> <br>
    <%= form.submit "Submit" %>
<% end %>