<h1>New Casenotes</h1>
<%= react_component('NewCasenote') %>
<%= form_with scope: :casenote, url: casenotes_path, local: true do |form| %>
    Title:<br>
    <%= form.text_field :title %> <br>
    Description: <br>
    <%= form.text_field :description %> <br>
    Internal: <br>
    <%= form.check_box :agree %> <Br>
    <%= form.submit "Submit" %>
<% end %>