<h1>Edit Paperwork</h1>
<%= form_with(model: @paperwork, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :link %><br>
    <%= form.text_field :link %>
  </p>
  <p>
    <%= form.label :agree %><br>
    <%= form.check_box :agree %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', paperworks_path %>