<h1>All Paperworks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Participant First</th>
    <th>Participant Last</th>
    <th>Agree</th>
    <th colspan="3"></th>
  </tr>

  <% @paperworks.each do |paperwork| %>
    <tr>
      <td><%= paperwork.title %></td>
      <td><%= paperwork.link %></td>
      <td><%= paperwork.participant.first_name %></td>
      <td><%= paperwork.participant.last_name %></td>
      <td><%= paperwork.agree %></td>
      <td><%= link_to 'Show', paperwork_path(paperwork) %></td>
      <td><%= link_to 'Edit', edit_paperwork_path(paperwork) %></td>
      <td><%= link_to 'Delete', api_paperwork_path(paperwork),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
