<h1>All Paperworks</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Participant</th>
    <th>Agree</th>
    <th colspan="3"></th>
  </tr>

  <% @paperworks.each do |paperwork| %>
    <tr>
      <td><%= paperwork.title %></td>
      <td><%= paperwork.link %></td>
      <td><%= paperwork.participant.name %></td>
      <td><%= paperwork.agree %></td>
      <td><%= link_to 'Show', paperwork_path(paperwork) %></td>
      <td><%= link_to 'Edit', edit_paperwork_path(paperwork) %></td>
      <td><%= link_to 'Delete', api_paperwork_path(paperwork),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<% if @current_user.present? && @current_user.user_type == "Staff" %>
  <%= react_component("PaperworkForm", {staff_id: @current_user.staff.id}) %>
<% end %>
