<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @assignment.participant.full_name %></p>
    <p>
      You have been assigned a new action item by <%= @assignment.staff.full_name %>.
      A summary of your action item can be found below.<br>
    </p>
    <h2>Assignment: <%= @action_item.title %></h2>
    <p>Due Date: <%= @due_date %></p>
    <p><%= @action_item.description %></p>
    <p>
      To view your action item, sign into your Unloop account <%= link_to 'here', root_url %>.
    </p>
    <p>Best,<br>
    Unloop</p>
  </body>
</html>