<%= form_with(model: studio_assessment, local: true) do |form| %>
  <% if studio_assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studio_assessment.errors.count, "error") %> prohibited this studio_assessment from being saved:</h2>

      <ul>
        <% studio_assessment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.text_field :participant_id %>
  </div>

  <div class="field">
    <%= form.label :bigpicture_score %>
    <%= form.number_field :bigpicture_score %>
  </div>

  <div class="field">
    <%= form.label :bigpicture_comment %>
    <%= form.text_field :bigpicture_comment %>
  </div>

  <div class="field">
    <%= form.label :progfundamentals_score %>
    <%= form.number_field :progfundamentals_score %>
  </div>

  <div class="field">
    <%= form.label :progfundamentals_comment %>
    <%= form.text_field :progfundamentals_comment %>
  </div>

  <div class="field">
    <%= form.label :versioncontrol_score %>
    <%= form.number_field :versioncontrol_score %>
  </div>

  <div class="field">
    <%= form.label :versioncontrol_comment %>
    <%= form.text_field :versioncontrol_comment %>
  </div>

  <div class="field">
    <%= form.label :react_score %>
    <%= form.number_field :react_score %>
  </div>

  <div class="field">
    <%= form.label :react_comment %>
    <%= form.text_field :react_comment %>
  </div>

  <div class="field">
    <%= form.label :node_score %>
    <%= form.number_field :node_score %>
  </div>

  <div class="field">
    <%= form.label :node_comment %>
    <%= form.text_field :node_comment %>
  </div>

  <div class="field">
    <%= form.label :db_score %>
    <%= form.number_field :db_score %>
  </div>

  <div class="field">
    <%= form.label :db_comment %>
    <%= form.text_field :db_comment %>
  </div>

  <div class="field">
    <%= form.label :problemsolving_score %>
    <%= form.number_field :problemsolving_score %>
  </div>

  <div class="field">
    <%= form.label :problemsolving_comment %>
    <%= form.text_field :problemsolving_comment %>
  </div>

  <div class="field">
    <%= form.label :problemsolvingalt_score %>
    <%= form.number_field :problemsolvingalt_score %>
  </div>

  <div class="field">
    <%= form.label :problemsolvingalt_comment %>
    <%= form.text_field :problemsolvingalt_comment %>
  </div>

  <div class="field">
    <%= form.label :passed_capstone %>
    <%= form.check_box :passed_capstone %>
  </div>

  <div class="field">
    <%= form.label :capstone_comment %>
    <%= form.text_field :capstone_comment %>
  </div>

  <div class="field">
    <%= form.label :proctor %>
    <%= form.text_field :proctor %>
  </div>

  <div class="field">
    <%= form.label :assessment_type %>
    <%= form.text_field :assessment_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
