<% if false %>
<p id="notice"><%= notice %></p>

<h1>Studio Assessments</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Staff</th>
      <th>Bigpicture score</th>
      <th>Bigpicture comment</th>
      <th>Progfundamentals score</th>
      <th>Progfundamentals comment</th>
      <th>Versioncontrol score</th>
      <th>Versioncontrol comment</th>
      <th>React score</th>
      <th>React comment</th>
      <th>Node score</th>
      <th>Node comment</th>
      <th>Db score</th>
      <th>Db</th>
      <th>Problemsolving score</th>
      <th>Problemsolving comment</th>
      <th>Problemsolvingalt score</th>
      <th>Problemsolvingalt comment</th>
      <th>Passed capstone</th>
      <th>Capstone comment</th>
      <th>Assessment type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studio_assessments.each do |studio_assessment| %>
      <tr>
        <td><%= studio_assessment.participant%></td>
        <td><%= studio_assessment.staff%></td>
        <td><%= studio_assessment.bigpicture_score %></td>
        <td><%= studio_assessment.bigpicture_comment %></td>
        <td><%= studio_assessment.progfundamentals_score %></td>
        <td><%= studio_assessment.progfundamentals_comment %></td>
        <td><%= studio_assessment.versioncontrol_score %></td>
        <td><%= studio_assessment.versioncontrol_comment %></td>
        <td><%= studio_assessment.react_score %></td>
        <td><%= studio_assessment.react_comment %></td>
        <td><%= studio_assessment.node_score %></td>
        <td><%= studio_assessment.node_comment %></td>
        <td><%= studio_assessment.db_score %></td>
        <td><%= studio_assessment.db_comment %></td>
        <td><%= studio_assessment.problemsolving_score %></td>
        <td><%= studio_assessment.problemsolving_comment %></td>
        <td><%= studio_assessment.problemsolvingalt_score %></td>
        <td><%= studio_assessment.problemsolvingalt_comment %></td>
        <td><%= studio_assessment.passed_capstone %></td>
        <td><%= studio_assessment.capstone_comment %></td>
        <td><%= studio_assessment.assessment_type %></td>
        <td><%= studio_assessment.created_at%></td>
        <td><%= link_to 'Show', studio_assessment %></td>
        <td><%= link_to 'Edit', edit_studio_assessment_path(studio_assessment) %></td>
        <td><%= link_to 'Destroy', studio_assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studio Assessment', new_studio_assessment_path %>
<% end %>

<%= react_component("StudioAssessmentDashboard", {assessments: @studio_list,  is_admin: @user.admin? }) %>
