<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio_assessment.name %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @studio_assessment.participant_id %>
</p>

<p>
  <strong>Bigpicture score:</strong>
  <%= @studio_assessment.bigpicture_score %>
</p>

<p>
  <strong>Bigpicture comment:</strong>
  <%= @studio_assessment.bigpicture_comment %>
</p>

<p>
  <strong>Progfundamentals score:</strong>
  <%= @studio_assessment.progfundamentals_score %>
</p>

<p>
  <strong>Progfundamentals comment:</strong>
  <%= @studio_assessment.progfundamentals_comment %>
</p>

<p>
  <strong>Versioncontrol score:</strong>
  <%= @studio_assessment.versioncontrol_score %>
</p>

<p>
  <strong>Versioncontrol comment:</strong>
  <%= @studio_assessment.versioncontrol_comment %>
</p>

<p>
  <strong>React score:</strong>
  <%= @studio_assessment.react_score %>
</p>

<p>
  <strong>React comment:</strong>
  <%= @studio_assessment.react_comment %>
</p>

<p>
  <strong>Node score:</strong>
  <%= @studio_assessment.node_score %>
</p>

<p>
  <strong>Node comment:</strong>
  <%= @studio_assessment.node_comment %>
</p>

<p>
  <strong>Db score:</strong>
  <%= @studio_assessment.db_score %>
</p>

<p>
  <strong>Db:</strong>
  <%= @studio_assessment.db %>
</p>

<p>
  <strong>Problemsolving score:</strong>
  <%= @studio_assessment.problemsolving_score %>
</p>

<p>
  <strong>Problemsolving comment:</strong>
  <%= @studio_assessment.problemsolving_comment %>
</p>

<p>
  <strong>Problemsolvingalt score:</strong>
  <%= @studio_assessment.problemsolvingalt_score %>
</p>

<p>
  <strong>Problemsolvingalt comment:</strong>
  <%= @studio_assessment.problemsolvingalt_comment %>
</p>

<p>
  <strong>Passed capstone:</strong>
  <%= @studio_assessment.passed_capstone %>
</p>

<p>
  <strong>Capstone comment:</strong>
  <%= @studio_assessment.capstone_comment %>
</p>

<p>
  <strong>Proctor:</strong>
  <%= @studio_assessment.proctor %>
</p>

<p>
  <strong>Assessment type:</strong>
  <%= @studio_assessment.assessment_type %>
</p>

<%= link_to 'Edit', edit_studio_assessment_path(@studio_assessment) %> |
<%= link_to 'Back', studio_assessments_path %>
