<script
  src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
  integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB"
  crossorigin="anonymous">
</script>

<!DOCTYPE html>
<html>
  <head>
    <title>Unloop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>

  <% if current_user %>
    <script>
      Sentry.configureScope(function(scope) {
        scope.setUser({
          "email": "<%= current_user.email.to_s %>",
          "first_name": "<%= current_user.first_name.to_s %>",
          "last_name": "<%= current_user.last_name.to_s %>",
          "user_type": "<%= current_user.user_type.to_s %>",
          "provider": "<%= current_user.provider.to_s %>",
          "uid": "<%= current_user.uid.to_s %>",
          "user_type": "<%= current_user.user_type.to_s %>",
          "admin": "<%= current_user.admin.to_s %>"
        });
      });
    </script>
  <% end %>

</html>
