<script
  src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
  integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB"
  crossorigin="anonymous">
</script>

<!DOCTYPE html>
<html>
  <head>
    <title>Unloop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <% if Rails.env.production? || Rails.env.staging? %>
    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
      window['_fs_org'] = 'TCFJZ';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
          g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
          o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
          g.anonymize=function(){g.identify(!!0)};
          g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
          g.log = function(a,b){g("log",[a,b])};
          g.consent=function(a){g("consent",!arguments.length||a)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(){};
          g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
          if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
          g._v="1.2.0";
      })(window,document,window['_fs_namespace'],'script','user');
    </script>
  <% end %>

  <% if user_signed_in? %>
    <script>
      window.onload = function() {
        if (window.FS) {
          FS.identify('id: <%= current_user.id %>', {
            "email": "<%= current_user.email.to_s %>",
            "first_name": "<%= current_user.first_name.to_s %>",
            "last_name": "<%= current_user.last_name.to_s %>",
            "user_type": "<%= current_user.user_type.to_s %>",
            "provider": "<%= current_user.provider.to_s %>",
            "uid": "<%= current_user.uid.to_s %>",
            "user_type": "<%= current_user.user_type.to_s %>",
            "admin": "<%= current_user.admin.to_s %>"
          })
        }
      }
    </script>
  <% end %>
  <% if current_user %>
    <script>
      Sentry.configureScope(function(scope) {
        scope.setUser({
          "email": "<%= current_user.email.to_s %>",
          "first_name": "<%= current_user.first_name.to_s %>",
          "last_name": "<%= current_user.last_name.to_s %>",
          "user_type": "<%= current_user.user_type.to_s %>",
          "provider": "<%= current_user.provider.to_s %>",
          "uid": "<%= current_user.uid.to_s %>",
          "user_type": "<%= current_user.user_type.to_s %>",
          "admin": "<%= current_user.admin.to_s %>"
        });
      });
    </script>
  <% end %>

</html>
